.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

.active {
    background-color: rgb(226, 224, 118);
}

.nearMaxMass {
    font-weight: bold;
    color: red;
}